<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.aokp.romcontrol"
          android:sharedUserId="android.uid.system"
          android:versionCode="1"
          android:versionName="1.0">

    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CHANGE_CONFIGURATION" />
    <uses-permission android:name="android.permission.CHANGE_COMPONENT_ENABLED_STATE" android:protectionLevel="signatureOrSystem" />
    <uses-permission android:name="android.permission.CONTROL_INCALL_EXPERIENCE" />
    <uses-permission android:name="android.permission.GET_APP_OPS_STATS" />
    <uses-permission android:name="android.permission.GET_TOP_ACTIVITY_INFO"/>
    <uses-permission android:name="android.permission.INTERACT_ACROSS_USERS_FULL"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.MANAGE_APP_TOKENS" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.READ_FRAME_BUFFER" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.SET_ACTIVITY_WATCHER" />
    <uses-permission android:name="android.permission.SET_ANIMATION_SCALE" />
    <uses-permission android:name="android.permission.SHUTDOWN" />
    <uses-permission android:name="android.permission.UPDATE_APP_OPS_STATS" />
    <uses-permission android:name="android.permission.VIBRATE"/>
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.WRITE_SECURE_SETTINGS"/>
    <uses-permission android:name="android.permission.WRITE_SETTINGS"/>

    <uses-permission android:name="com.google.android.gallery3d.permission.GALLERY_PROVIDER"/>
    <uses-permission android:name="cyanogenmod.permission.HARDWARE_ABSTRACTION_ACCESS" />
    <uses-permission android:name="cyanogenmod.permission.WRITE_SETTINGS"/>
    <uses-permission android:name="cyanogenmod.permission.WRITE_SECURE_SETTINGS"/>

    <uses-sdk
            android:minSdkVersion="19"
            android:targetSdkVersion="23"/>

    <application
            android:allowBackup="false"
            android:icon="@mipmap/ic_launcher"
            android:label="@string/app_name"
            android:configChanges="orientation|screenSize"
            android:theme="@style/AppTheme"
            android:hardwareAccelerated="true" >
        <activity
                android:name="com.aokp.romcontrol.MainActivity"
                android:configChanges="orientation|keyboardHidden"
                android:label="@string/rom_control" />

        <activity
                android:name="com.aokp.romcontrol.LauncherActivity"
                android:label="@string/rom_control">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <receiver android:name=".fragments.BootReceiver" android:enabled="true">
            <intent-filter android:priority="2147483647">
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>

        <activity android:name="com.aokp.romcontrol.fragments.about.AboutCrewFragment" />
        <activity android:name="com.aokp.romcontrol.fragments.about.AboutFragment" />
        <activity android:name="com.aokp.romcontrol.fragments.about.AboutTabHostFragment" />

        <activity android:name="com.aokp.romcontrol.fragments.applauncher.AppLauncherTabHostFragment" />
        <activity android:name="com.aokp.romcontrol.fragments.applauncher.AppCircleBarSettings" />

        <activity android:name="com.aokp.romcontrol.fragments.general.GeneralTabHostFragment" />
        <activity android:name="com.aokp.romcontrol.fragments.general.GeneralSettingsFragment" />
        <activity android:name="com.aokp.romcontrol.fragments.general.RecentsSettingsFragment" />
        <activity android:name="com.aokp.romcontrol.fragments.general.WakelockBlockerFragment" />

        <activity android:name="com.aokp.romcontrol.fragments.navbar.NavbarTabHostFragment" />
        <activity android:name="com.aokp.romcontrol.fragments.navbar.NavbarArrangeFragment" />
        <activity android:name="com.aokp.romcontrol.fragments.navbar.NavbarSettingsFragment" />

        <activity android:name="com.aokp.romcontrol.fragments.sound.SoundTabHostFragment" />
        <activity android:name="com.aokp.romcontrol.fragments.sound.SoundSettingsFragment" />
        <activity android:name="com.aokp.romcontrol.fragments.sound.LiveVolumeFragment" />

        <activity android:name="com.aokp.romcontrol.fragments.pie.PieColorFragment" />
        <activity android:name="com.aokp.romcontrol.fragments.pie.PieControlFragment" />
        <activity android:name="com.aokp.romcontrol.fragments.pie.PieTabHostFragment" />
        <activity android:name="com.aokp.romcontrol.fragments.pie.PieTargetsFragment" />

        <activity android:name="com.aokp.romcontrol.fragments.statusbar.StatusBarTabHostFragment" />
        <activity android:name="com.aokp.romcontrol.fragments.statusbar.StatusbarSettingsFragment" />
        <activity android:name="com.aokp.romcontrol.fragments.statusbar.TrafficSettingsFragment" />

        <activity android:name="com.aokp.romcontrol.fragments.ui.DisplayAnimationsSettings" />
        <activity android:name="com.aokp.romcontrol.fragments.ui.AnimationControls" />
        <activity android:name="com.aokp.romcontrol.fragments.ui.GestureAnywhereBuilderActivity" />
        <activity android:name="com.aokp.romcontrol.fragments.ui.GestureAnywhereSettings" />
        <activity android:name="com.aokp.romcontrol.fragments.ui.GestureAnywhereCreateGestureActivity" />
        <activity android:name="com.aokp.romcontrol.fragments.ui.UITabHostFragment" />

        <activity android:name="com.aokp.romcontrol.fragments.ButtonSettingsFragment" />
        <activity android:name="com.aokp.romcontrol.fragments.ButtonBacklightBrightness" />
        <activity android:name="com.aokp.romcontrol.fragments.LockScreenSettingsFragment" />
        <activity android:name="com.aokp.romcontrol.fragments.NavigationDrawerFragment" />
        <activity android:name="com.aokp.romcontrol.fragments.NotificationsDrawerFragment" />
        <activity android:name="com.aokp.romcontrol.fragments.PowerMenuSettingsFragment" />
        <activity android:name="com.aokp.romcontrol.fragments.Utils" />

        <!-- PA Pie settings activity. -->
        <activity android:name="ROMControl$PieControlSettingsActivity"
                android:label="@string/pa_pie_control_title"
                android:excludeFromRecents="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
            <meta-data android:name="com.aokp.romcontrol.FRAGMENT_CLASS"
                android:value="com.aokp.romcontrol.fragments.pie.PieControl" />
            <meta-data android:name="com.aokp.romcontrol.TOP_LEVEL_HEADER_ID"
                android:resource="@id/pie_settings_main" />
        </activity>
    </application>

</manifest>
